{% load static %} {% block css%}
{% endblock %} 
{% block body %}
    <ul>

    <li class="menu">  <a href="{% url 'Home'%}"> Home</a></li>
    <li class="menu"> <a href="">Blogs</a></li>
    <li class="menu"> <a href="">messages</a></li>
    
    <li class="menu"> <a href="">Login/Logout</a></li>
    <li class="menu"> <a href="">Profile</a></li>
    <li class="menu"> <a href="">Book an  appointment</a></li>
    </ul>

 <!-- Join Our revolution as
<a href="#">Mentor</a>  <br>
<a href="#">Patient</a> -->
{% endblock %}